@import url('https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.21.0/dist/tabler-icons.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100%;
    box-sizing: border-box;
}

.responsive-canvas {
    width: 100% !important;
    height: 100% !important;
}

.button-visible {
    opacity: 1 !important;
}

.button-hidden {
    opacity: 0 !important;
}

/* Add to your CSS */
#header {
    position: sticky;
    top: 0;
    z-index: 50;
    transition: transform 0.3s ease;
}